.editorconfig
/node_modules
/public/hot
/public/storage
/public/assets
/storage/app
/storage/logs/*
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
vendor.zip
.phpunit.result.cache
.project
.settings
.buildpath
.vscode
.vagrant
.idea
webpack.mix.js
.styleci.yml