.team-header-photo {
  text-align: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.55);
  background-blend-mode: overlay;
  height: 500px;
  color: white;
  margin-bottom: 30px;
}

.team-header-photo h1 {
  font-size: 60px;
  margin-block-end: 0;
  margin-block-start: 0;
}

.team-body {
  /*display: flex;*/
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.team-member-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.team-member-photo {
  background-color: #f5c920;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}