.header-main {
  background-color: #434343;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  display: flex;
}

.header-main > .header-links {
  color: lightgrey;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.header-main > .header-links:hover {
  color: #f5c920;
  text-decoration: none;
}

.home-carousel{
  position: relative;
  display: flex !important;
  justify-content: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 499px){
  /*styles for smartphones vertical*/
  .header-main {
    background-color: #434343;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}